<p>
  <strong><%= @user.username %></strong>
</p>

<% if current_user.admin? && @user.closed? %>
  <%= link_to "Open account", toggle_closed_user_path(@user.id), method: :post, class: "btn btn-primary" %>
<% elsif current_user.admin? && @user.closed == false %>
  <%= link_to "Close account", toggle_closed_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>
<% if @user.ratings.empty? %>
  <p>has not rate any beer</p>
<% else %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %>
  </p> 
  <p>Favorite beer: <%= @user.favorite_beer.name %></p>
  <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
  <p>Preferred style: <%= @user.favorite_style.name %></p>
<% end %>
<p>
  <strong>Ratings</strong>
</p>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <% if @user.beer_clubs.any? %>
    member of 
    <% @user.beer_clubs.each do |club| %>
      <li> <%= link_to club.name, club %> </li>
    <% end %>
  <% end %>
</p>

<p>Katsotaan deployaako travis</p>
<%= edit_and_destroy_buttons(@user) %>
<%= link_to 'Back', users_path %>
