<h2>List of ratings</h2>

<div class="row">
  <div class="col-sm">
    <h3>Best beers</h3>
    <%= render 'list', items: @top_beers %>
  </div>

  <div class="col-sm">
    <h3>Best breweries</h3>
    <%= render 'list', items: @top_breweries %>
  </div>

  <div class="col-sm">
    <h3>Best styles</h3>
    <%= render 'list', items: @top_styles %>
  </div>
</div>

<h3>Users with most ratings</h3>
<%= render 'list', items: @users_with_most_ratings %>

<h3>Recent ratings</h3>
<ul>
  <% @recent_ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<h3>All ratings</h3>
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<%= link_to('Add new rating', new_rating_path, class:"btn btn-primary") if current_user %>

<p>
  Total ratings: <%= @ratings.count %>
</p>